
h1
{
	 font-family:'Inconsolata', monospace;
	 font-size: 60px;
	 color: #11EC06;
}


h2
{
	 font-family:'Inconsolata', monospace;
	 font-size: 40px;
	 color: #11EC06;
}


h3
{
	 font-family:'Inconsolata', monospace;
	 font-size: 30px;
	 color: #11EC06;

}
h4
{
	 font-family:'Inconsolata', monospace;
	 font-size: 20px;
	 color: #11EC06;
}
#centerIt
{
	margin-left: 200px;
	margin-top: 10px;
}

#container
{
	width:100%;

}
#top1
{
	height:65px;
	width: 33.33%;
	background:url(images/binarypic11_sm.png);
	opacity: 0.85;
	float: left;
}
#top2
{
	height:65px;
	width: 33.33%;
	background:url(images/binarypic12_sm.jpg);
	float:left;
	opacity: 0.85;
}
#top3
{
	height:65px;
	width: 33.33%;
	background:url(images/binarypic13_sm.jpg);
	float:left;
	opacity: 0.85;
}
#midTop
{
	width: 100%;
	height: 120px;
	background:url(images/binarypic14_sm.jpg);
	float:left;
	opacity: 0.85;
}
#mid
{
	width: 100%;
	background:url(images/binarypic16_sm.jpg);
	float:left;
	opacity: 0.85;
}
#midBottom
{
	width: 100%;
	height: 100px;
	background:url(images/binarypic15_sm.jpg);
	float:left;
	opacity: 0.85;
}
#bot1
{
	height:95px;
	width: 25%;
	background:url(images/binarypic20_sm.jpg);
	float: left;
	opacity: 0.85;
}
#bot2
{
	height:95px;
	width: 25%;
	background:url(images/binarypic21_sm.jpg);
	float:left;
	opacity: 0.85;
}
#bot3
{
	height:95px;
	width: 25%;
	background:url(images/binarypic22_sm.jpg);
	float:left;
	opacity: 0.85;
}
#bot4
{
	height:95px;
	width: 25%;
	background:url(images/binarypic23_sm.jpg);
	float:left;
	opacity: 0.85;
}
